# Build outputs
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg
*.snupkg

# Publish outputs
publish/
*.publishproj

# Rider / VS Code
.idea/
.vscode/

# OS files
Thumbs.db
desktop.ini

# Logs / local data (si générés localement)
sites.txt
logs.txt
